.Card {
  background-color: #2b2727;
  color: white;

  padding: 0px 40px 0px 40px;
  margin: auto;
  margin-bottom: 30px;
  width: 90vw;
  border: 0px;
}

.Container {
  font-size: 35px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Button {
  font-size: 25px;
  width: 100px;
  outline: none;
  box-shadow: none !important;
}

.p {
  text-align: center;
  padding: 5px 0 5px 0;
}

@media (max-width: 576px) {
  .Container {
    font-size: 25px;
  }
}
